html,body{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
.header-container{
    margin-bottom:1.1rem;
    width:95%;
    position: relative;
    padding: 1.2rem;
}
.header-one, .header-two{
    position:absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
   
}
.header-one{
    left: 15%;
}
.header-two{
    right: 15%;
}
.container{
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:2rem;
    min-width: 700px ;
    width: 70%;
    height: 90%;
    background-color:aqua ;
}

.left-panel{
    border-right: 3px dashed white;
    width: 30%;
    height: 100%;
    border-radius: 2rem;
}
.temparature-1{
    font-size: 60px;
    font-weight: 600;
    font-style:initial;
}
.humidity{
    font-size: 45px;
    font-weight: 500;
    font-style:initial;
}

.right-panel{
    width: 70%;
    height: 60%; 

}
.forecast-1,.forecast-2,.forecast-3,.forecast-4,.forecast-5{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.forecast-1{
    
    right: 21%;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;   
}
.forecast-2{
    right: 55.5%;
    font-size: 1rem;
    font-weight: 600;
    padding: 2rem; 
        
}
.forecast-3{
    right: 46%;
    font-size: 1.7rem;
    font-weight: 800;
    padding: 4rem;   
   
}
.forecast-4{ 
    right: 39%;
    font-size: 1rem;
    font-weight: 750;
    padding: 9rem;
 } 
 .forecast-5{ 
    
    right: 37%;
    font-size: 1rem;
    font-weight: 500;
    padding: 11px;
    max-width: 100%;  
    bottom: 34%;    
 } 
 .details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    max-width: 100%;
    padding: 1.5rem;

 }
 .details{ 
    
    border: none;
    width:16% ;
    height: 13%;
    padding: 0.5rem;
    bottom: -31%;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2rem;
    background-color: darkgrey;
   
 } 
 .temparature{
 
    font-size: 50px;
    font-weight: 600;
    font-style:initial;
    max-width: 100%;
    zoom: normal;
    
   
}

.searchBar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    max-width: 100%;
    padding: 1.5rem;
}
.searchBar{
    border: none;
    border-radius: 2rem;
    width:90% ;
    height: 50%;
    padding: 0.5rem;
}